.paddingAll {
  padding: 10px;
}

.priceTitle {
  font-weight: 600;
}

.priceSubtitle {
  font-size: 14px;
}

.iconStyle {
  margin-top: 20px;
  margin-left: 20px;
  color: white;
}
.iconStyleBlack {
  margin-top: 20px;
  margin-left: 20px;
}

.gradient {
  background: linear-gradient(
    158deg,
    rgb(189, 201, 75) 0%,
    rgb(255, 156, 141) 100%
  );
}

.gradient2 {
  background: linear-gradient(
    200deg,
    rgb(160, 148, 187) 0%,
    rgb(28, 138, 129) 100%
  );
}
