.paddingAll {
  padding: 10px;
}

.priceTitle {
  font-weight: 600;
}

.priceSubtitle {
  font-size: 14px;
}

.iconStyle {
  margin-top: 20px;
  margin-left: 20px;
  color: white;
}
.iconStyleBlack {
  margin-top: 20px;
  margin-left: 20px;
}

.gradient {
  background: linear-gradient(
    158deg,
    rgb(30, 79, 143) 0%,
    rgb(255, 141, 151) 100%
  );
}

.gradient2 {
  background: linear-gradient(
    200deg,
    rgb(160, 148, 187) 0%,
    rgb(28, 138, 129) 100%
  );
}

.bgcolor {
  min-height: 100vh;
  background: #eceff1;
  background: linear-gradient(
    158deg,
    rgb(224, 224, 224) 0%,
    rgb(223, 237, 254)
  );
}

.logo {
  color: rgb(255, 141, 151);
}
